@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    background-color: #FE8400;
    color: white;
    width: 146px;
    height: 40px;
    margin-right: 30px;

}

.btn2{
    background-color: #FE8400;
    color: black;
    width: 256px;
    height: 50px;
    margin-right: 30px;
    font-size: larger;
 
}

.btn3{
    background-color: #FE8400;
    color: black;
    width: 120px;
    height: 40px;
}

.bg-black{
    background-color: black;
    color: white;
}

html{
    scroll-behavior: smooth;
}